<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		
		<directoryBrowse enabled="false" />
		
        <rewrite>
            <rules>
				<!-- <rule name="Rule" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                        <conditions>
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                            <add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
                        </conditions>
                        <action type="Rewrite" url="/{R:1}" appendQueryString="false" />
                </rule> -->
				
				<rule name="Rewrite to index.php" patternSyntax="Wildcard">
                    <match url="*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{URL}" pattern="^/favicon.ico$" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="v2/index.php" />
                </rule>
				
				<!-- <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule> -->
				<rule name="rule 1l" stopProcessing="true">
					<match url="^.env"  />
					<action type="Rewrite" url="/-"  />
				</rule>
				<rule name="rule 2l" stopProcessing="true">
					<match url="^storage"  />
					<action type="Rewrite" url="/-"  />
				</rule>
				<rule name="rule 3l" stopProcessing="true">
					<match url="^(.well-known)($|/)"  />
					<action type="Rewrite" url="/-"  />
				</rule>
			</rules>
        </rewrite>

        <!-- 
			HTTP Errors section should only be enabled if the "Error Pages"
			feature has been delegated as "Read/Write" at the Web Server level.
		-->
	   <httpErrors>
		   <remove statusCode="404" subStatusCode="-1" />
		   <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
		   <remove statusCode="403" subStatusCode="-1" />
		   <error statusCode="403" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
		   <remove statusCode="500" subStatusCode="-1" />
		   <error statusCode="500" prefixLanguageFilePath="" path="/500.html" responseMode="ExecuteURL" />
	   </httpErrors>
	   
		<!-- <handlers>
			<remove name="ExtensionlessUrl-Integrated-4.0" />
			<add name="ExtensionlessUrl-Integrated-4.0"
			   path="*."
			   verb="GET,HEAD,POST,DEBUG,DELETE,PUT"
			   type="System.Web.Handlers.TransferRequestHandler"
			   preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers> -->
		
		<handlers>
			<remove name="PHP72_via_FastCGI" />
			<add name="PHP72_via_FastCGI" path="*.php" verb="GET, PUT, POST, HEAD, OPTIONS, TRACE, PROPFIND, PROPPATCH, MKCOL, COPY, MOVE, LOCK, UNLOCK" modules="FastCgiModule" scriptProcessor="D:\Program Files (x86)\PHP\v7.2\php-cgi.exe" resourceType="Either" requireAccess="Script" />
		</handlers>

		<!-- <system.web>
			<customErrors mode="Off"/>
		</system.web> -->
		
		<!-- added on 20191204 -->
	    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
	    <httpCompression>
          <dynamicTypes>
            <clear />
            <add enabled="true"  mimeType="text/*"/>
            <add enabled="true"  mimeType="message/*"/>
            <add enabled="true"  mimeType="application/x-javascript"/>
            <add enabled="true"  mimeType="application/javascript"/>
            <add enabled="true"  mimeType="application/json"/>
            <add enabled="false" mimeType="*/*"/>
            <add enabled="true"  mimeType="application/atom+xml"/>
            <add enabled="true"  mimeType="application/atom+xml;charset=utf-8"/>
            <add enabled="true"  mimeType="image/*"/>
            <add enabled="true"  mimeType="application/x-font-ttf"/>
            <add enabled="true"  mimeType="application/octet-stream"/>
          </dynamicTypes>
          <staticTypes>
             <clear />
             <add enabled="true" mimeType="text/*"/>
             <add enabled="true" mimeType="message/*"/>
             <add enabled="true" mimeType="application/javascript"/>
             <add enabled="true" mimeType="application/atom+xml"/>
             <add enabled="true" mimeType="application/xaml+xml"/>
             <add enabled="true" mimeType="application/json"/>
             <add enabled="true" mimeType="image/*"/>
             <add enabled="true"  mimeType="application/x-font-ttf"/>
             <add enabled="true"  mimeType="application/octet-stream"/>
             <add enabled="false" mimeType="*/*"/>
           </staticTypes>
        </httpCompression>
        <!-- added on 20191204 -->
        
        <staticContent>
           <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"></clientCache>
        </staticContent>
   
        <caching>
          <profiles>
            <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="5.00:00:00" location="Any" />
            <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="5.00:00:00" location="Any" />
            <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="5.00:00:00" location="Any" />
            <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="5.00:00:00" location="Any" />
            <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="5.00:00:00" location="Any" />
            <add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="5.00:00:00" location="Any" />
          </profiles>
        </caching>
        
    </system.webServer>
</configuration>